<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_for @trip, url: user_trips_path do |f| %>
      <%= f.select :location_id, @location_options %>
      <%= f.submit "Take Trip" %>
    <% end %>
  </body>
</html>
