<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @location.name %></title>
  </head>
  <body>
    <%= render partial: 'locations/location', locals: {location: @location} %>

    <%= link_to "Edit Location", edit_admin_location_path(@location) %>
  </body>
</html>
