<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    <h2>Welcome Admin <%= @user.name %></h2>

    <p><%= link_to "Create Location", new_location_path %></p>

    <h3>Locations You Created</h3>
    <% @user.locations.first(5).each do |l| %>
      <p><%= link_to "#{l.name}", location_path(l) %></p>
    <% end %>
    <%= link_to "See All",  admin_locations_path %>

  </body>
</html>
