<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <p>Name: <%= f.text_field :name %></p>
    <p>Energy: <%= f.select :energy, [['1 - Tired',1],2,3,4,['5 - Rested',5]] %></p>
    <p>Fun: <%= f.select :fun, [['1 - Looking for Mellow',1],2,3,4,['5 - Looking for Fun',5]] %></p>

  </body>
</html>
