<p>Energy: <%= @user.energy %></p>
<p>Fun: <%= @user.fun %></p>

<%= link_to "Review Most Recent Trip", review_url(@user) if @user.last_trip.rating.nil? %>

<h3>Past Trips</h3>

<% @user.trip_locations.uniq.each do |location| %>
  <p><%= link_to "#{location.name}", location_path(location) %></p>
<% end %>
