<h2>Rate Your Most Recent Trip To...</h2>
<h3><%= @user.last_trip.trip_location.name %></h3>
<%= form_for @user, :url => post_review_path(@user), method: 'post' do |f| %>
  <p>Trip Rating: <%= f.select :trip_rating, [['1 - Awful',1],2,3,4,['5 - Amazing!',5]] %></p>
  <%= f.submit "Submit" %>
<% end %>
