<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @user.name %>'s Profile</title>
  </head>
  <body>
    <%= render 'user' unless @user.admin %>
    <%= link_to "Log Out", '/logout' %>
  </body>
</html>
