<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Users</title>
  </head>
  <body>
    <h2>Travel Clients</h2>

    <% @users.each do |user| %>
      <p><%= link_to "#{user.name}", user_path(user) unless user.admin? %></p>
    <% end %>
  </body>
</html>
