<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to the Rails Travel Agency!</h1>
    <p> <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Sign In", signin_path %></p>
  </body>
</html>
