<h2>Welcome <%= @user.name %>!</h2>
<% if !@user.admin && @user == current_user %>
  <p>Travel Credits: $<%= @user.travel_credits %></p>
<% end %>
<%= render 'users/user' unless @user.admin%>
<%= render '/admin/admin' if @user.admin %>
