<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render 'location', location: @location %>
    <%= form_for @location do |f| %>
      <%= f.number_field :price  %>
      <%= f.submit "Update Price" %>
    <% end %>
  </body>
</html>
