<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recommended Trips</title>
  </head>
  <body>
    <h1>Recommended Trips</h1>

    <%= render 'locations', locations: @locations %>
  </body>
</html>
