<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @location.name %></title>
  </head>
  <body>
    <%= render 'location', location: @location %>

    <%= button_to "Take Trip", take_trip_url(@location) unless current_user.admin? %>
  </body>
</html>
